/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

body {
  background-color: black;
  font-family: "Anton", sans-serif !important;
}

#bottom {
  font-size: 9px;
}

.carousel-item img {
  height: 420px;
  object-fit: cover;
}

.carousel-image {
  height: 100%; /* Make image take the full height of the carousel */
  object-fit: cover; /* Cover the area properly without losing aspect ratio */
}

.custom-bg-black {
  background-color: black !important;
}

.custom-text-yellow {
  color: #F3DD78 !important;
}

.custom-button {
  background-color: #F3DD78 !important;
  color: black !important;
  width: 210px !important;
  border: 2px solid transparent !important;
  border-radius: 0 !important;
}

.custom-button:hover {
  background-color: black !important;
  color: #F3DD78 !important;
  border-color: #F3DD78 !important;
}
